/* Estilos del contenedor principal de la galería de imágenes */
.image-gallery-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
 
/* Título de la galería */
.gallery-title {
    font-size: 32px;
    margin-bottom: 20px;
}
 
/* Sección de entrada de usuario */
.input-section {
    display: flex;
    margin-bottom: 20px;
}
 
/* Etiqueta de entrada */
.input-label {
    margin-right: 10px;
}
 
/* Campo de entrada */
.input-field {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
}
 
/* Mensajes de carga y error */
.loading-message, .error-message {
    font-size: 18px;
    margin-bottom: 20px;
}
 
/* Contenedor del slider */
.slider-container {
    margin-bottom: 20px; /* Reduce el margen inferior del contenedor del slider */
}
 
/* Título de las secciones de camisetas y pantalones */
.pantalon-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}
 
.logout-button, .calendar-button, .upload-button {
    width: 70%; /* Incrementar el ancho de los botones */
    max-width: 250px; /* Incrementar el ancho máximo para que no se alarguen demasiado */
    height: 50px; /* Incrementar la altura de los botones */
    background: linear-gradient(to right, #922B21, #D35400 50%, #F6DDCC);
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px; /* Incrementar el tamaño de fuente */
    color: #fff;
    font-weight: 700;
    transition: background-color 0.3s ease;
    margin: 15px auto; /* Incrementar el margen y centrar */
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.logout-button:hover, .calendar-button:hover, .upload-button:hover {
    background: linear-gradient(to right, #922B21, #D35400 50%, #F6DDCC);
}
 
/* Enlaces de botones */
.calendar-link, .upload-link {
    display: block;
    text-align: center;
    width: 100%;
}

.total-prendas {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.total-prendas span {
    font-weight: bold;
    color: #4CAF50;
}
