/* Encabezado */
header {
    background-color: #333;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav .nav-link {
    color: #ffffff; /* Cambia el color del texto a blanco */
    font-weight: bold; /* Opcional: cambia el peso de la fuente a negrita */
    font-size: 20px; /* Tamaño de la fuente */
  }
  
  header .logo img {
    width: auto;
    height: auto;
  }
  
  header nav ul {
    list-style: none;
    margin: 50px;
    padding: 0;
    display: flex;
    color: #ffffff;
  }
  
  header nav ul li {
    margin-left: 25px;
  }
  
  header nav ul li:first-child {
    margin-left: 0;
  }
  
  /* Estilos para los enlaces */
  header nav ul li a,
  header nav ul button {
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
    color: #ffffff; /* Color del texto */
  }
  
  /* Estilos para los enlaces al pasar el ratón */
  header nav ul li a:hover,
  header nav ul button:hover {
    background-color: #ffffff; /* Cambia el fondo al pasar el ratón */
    color: #333; /* Cambia el color del texto */
    border-radius: 5px; /* Agrega bordes redondeados */
  }