.slider-container{
    margin: 0 auto;
    /*overflow: hidden;*/
    /*border: 1px solid red;*/
}

.slider{
    display: flex;
    cursor: grab;
}

.item{
    height: 20rem;
    max-width: auto;
    padding: 1rem;
}

.item img{
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: center;
}