.slider-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.slider {
    display: flex;
    cursor: grab;
}

.card.item {
    width: 100px; /* Ancho del contenedor del ítem */
    height: 200px; /* Altura del contenedor del ítem */
    margin-right: 0.5rem; /* Espacio entre los ítems */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0); /* Solo para verificar el tamaño del contenedor */
    overflow: hidden; /* Evita que las imágenes se desborden */
}

.card.item img {
    max-width: none; /* Elimina el ancho máximo de la imagen */
    max-height: none;
    object-fit: contain; /* Escala la imagen para que cubra completamente el contenedor */
    border-radius: 1px; /* Agrega bordes redondeados */
}

