.slider-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.slider {
    display: flex;
    cursor: grab;
}

.card.item {
    width: 200px; /* Ancho del contenedor del ítem */
    height: 200px; /* Altura del contenedor del ítem */
    margin-right: 1rem; /* Espacio entre los ítems */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0); /* Solo para verificar el tamaño del contenedor */
    overflow: hidden; /* Evita que las imágenes se desborden */
}

.card.item img {
    min-width: 100%; /* Establece el ancho mínimo de la imagen al 100% del contenedor */
    min-height: 100%; /* Establece la altura mínima de la imagen al 100% del contenedor */
    max-width: none; /* Elimina el ancho máximo de la imagen */
    max-height: none; /* Elimina la altura máxima de la imagen */
    object-fit: cover; /* Escala la imagen para que cubra completamente el contenedor */
    border-radius: 5px; /* Agrega bordes redondeados */
}

